---
import { getCollection, type CollectionEntry } from "astro:content";
import Layout from "../../layouts/Layout.astro";

export async function getStaticPaths() {
    const allArticles = await getCollection("articles");
    
    return allArticles.map((article: any) => {
        return{
            params: {slug: article.slug},
            props: {article}
            };
        });
    };
    const {article} = Astro.props as {article: CollectionEntry<"articles">};
    const {Content} = await article.render();
---

<Layout title={article.data.title}>
    <main>
        <h1>{article.data.title}</h1>
        <p>Published at {article.data.date}</p>
        
        <Content />
    </main>
</Layout>
