---
import { Image } from "astro:assets";
import Layout from "../layouts/Layout.astro";
import profile from "../assets/profile.jpg";
import gmail from "../assets/icons/gmail-white.svg";
import telegram from "../assets/icons/telegram.svg";
import linkedin from "../assets/icons/linkedin.svg";
import github from "../assets/icons/github.svg";
---

<Layout title="Connect">
    <main class="mt-20">
        <h1 class="text-2xl w-11/12 md:w-8/12 mx-auto">
            <span class="font-extralight">&lt;<span class="text-red-500">h2</span>&gt;</span>
            <span class="font-light font-trispace">Let's connect! Knock on my door
                and say hello!</span>
            <span class="font-extralight">&lt;/<span class="text-red-500">h2</span>&gt;</span>
        </h1>

        <div class="flex flex-col md:flex-row-reverse md:justify-evenly mt-16 font-trispace">
            <div class=" my-auto">
                <Image src={profile} width={236} height={236} alt="Profile Image" class="mx-auto"/>
            </div>
            <div class="space-y-4 mt-16 md:mt-0">
                <div class=" flex justify-around gap-x-5">
                    <Image src={gmail} width={50} alt="Email Icon" class=" my-auto row-span-2"/>
                    <div class="my-auto md:`text-right w-11/12">
                        <h3 class="">Email</h3>
                        <!-- <span class="font-extralight opacity-80">argasatya16@gmail.com</span> -->
                        <a href="mailto:argasatya16@gmail.com" class="font-extralight opacity-80">argasatya16@gmail.com</a>
                    </div>
                </div>
                <div class=" flex justify-around gap-x-5">
                    <Image src={telegram} width={50} alt="Email Icon" class=" my-auto row-span-2"/>
                    <div class="my-auto md:`text-right w-11/12">
                        <h3 class="">Telegram</h3>
                        <!-- <span class="">t.me/argasatya16</span> -->
                        <a href="https://t.me/argasatya16" class="font-extralight opacity-80">t.me/argasatya16</a>
                    </div>
                </div>
                <div class=" flex justify-around gap-x-5">
                    <Image src={linkedin} width={50} alt="Email Icon" class=" my-auto row-span-2"/>
                    <div class="my-auto md:`text-right w-11/12">
                        <h3 class="">LinkedIn</h3>
                        <!-- <span class="">linkedin.com/in/argasatya16</span> -->
                        <a href="https://linkedin.com/in/argasatya16" class="font-extralight opacity-80">linkedin.com/in/argasatya16</a>
                        
                    </div>
                </div>
                <div class=" flex justify-around gap-x-5">
                    <Image src={github} width={50} alt="Email Icon" class=" my-auto row-span-2"/>
                    <div class="my-auto md:`text-right w-11/12">
                        <h3 class="">Github</h3>
                        <!-- <span class="">github.com/ameunoia</span> -->
                        <a href="https://github.com/ameunoia" class="font-extralight opacity-80">github.com/ameunoia</a>
                    </div>
                </div>
            </div>
    </div>
    </main>
</Layout>