---
import Layout from "../layouts/Layout.astro";
import fotoroom from "../assets/projects/fotoroom.svg";
import wise from "../assets/projects/wise.png";
import hris from "../assets/projects/hris.svg";
import ProjectCard from "../components/ProjectCard.astro";
import hris_fe from "../assets/projects/hris-fe.png";
import hris_app from "../assets/projects/hris-app.jpg";
---

<Layout title="Projects">
  <main class="mt-20">
    <h1 class="text-2xl md:w-8/12 mx-auto">
      <span class="font-extralight"
        >&lt;<span class="text-red-500">section</span>&gt;</span
      >
      <span class="font-light font-trispace">Dive Into My Projects Ocean</span>
      <span class="font-extralight"
        >&lt;/<span class="text-red-500">section</span>&gt;</span
      >
    </h1>
    <div
      class="mt-28 grid grid-cols-1 md:grid-cols-2 justify-items-center md:justify-between gap-y-8"
    >
      <ProjectCard
        title="Fotoroom"
        description="Payment app for self service photobooth, integrated with QRIS"
        techStack={["Nextron", "TypeScript", "TailwindCSS"]}
        image={fotoroom}
      />

      <ProjectCard
        title="Wise Landing Page"
        description="Waluya Enterprise company profile website."
        techStack={["Astro", "TailwindCSS"]}
        image={wise}
      />

      <ProjectCard
        title="HRIS - Backend API Service"
        description="REST API Service for Human Resource Information System for managing employee, payroll, and other HR related data."
        techStack={["Bun", "Hono", "Prisma", "Postgresql", "Docker"]}
        image={hris}
      />

      <ProjectCard
        title="HRIS - Frontend"
        description="Frontend for Human Resource Information System for managing employee, payroll, and other HR related data."
        techStack={["NextJS", "TypeScript", "TailwindCSS"]}
        image={hris_fe}
      />

      <ProjectCard
        title="HRIS - Mobile App"
        description="Mobile App for employee to attendance, payroll, and other HR related data."
        techStack={["React Native", "Expo", "TailwindCSS"]}
        image={hris_app}
      />
    </div>
  </main>
</Layout>
